# Node
node_modules
dist
.vite

# Env
.env
.env.*
.dev.vars

# Supabase
.supabase

# Capacitor
android
ios

# Logs
*.log

# OS
.DS_Store

# Wrangler
.wrangler

# Firebase PWA
public/firebase-messaging-sw.js
# Mantido ignorado porque agora usaremos um template para gerar este arquivo com as chaves do .env
